# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ronaz\Downloads\File #2\448d5d34578670f41870fe001fa05cd9\BoatRegister(unfinished)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
