# Default ignored files
/shelf/
/workspace.xml

/1DV607.iml
/misc.xml
/modules.xml
/vcs.xml
/out
# Datasource local storage ignored files
/../../../../../:\Github\Repository\1DV607\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
